.video-details {
    position: absolute;
    top: 10%;
    display: flex;
    flex-direction: row;
    width: 88vw;
    justify-content: space-between;
    left: 5%;

}

.main-content {
    width: 76%;
    border: 1px solid red;
    margin-bottom: 100px;
}

.video-info {
    display: flex;
    flex-direction: column;
    width: 96%;
    margin:auto
}

#channel-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 25px;
}

#channel-info-left {
    display: flex;
    flex-direction: row;
}

#channel-info-left-left {
    display: flex;
    flex-direction: row;
}

.video-comments {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.recommended-videos {
    display: flex;
    flex-direction: column;
    width: 22.5%;
}

.main-video > video {
    width: 100%;
    height: auto;
}

.recommended-videos-card {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    height: 94px;
}

.recommended-videos-info {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    height: 100%;
}

.recommended-videos-info div:nth-child(1) {
    padding-bottom: 10px;
}

.recommended-videos-info div:nth-child(2) {
    margin-bottom: -10px;
}


.recommended-videos-card > video {
    width: 168px;
    height: 94px;
    border-radius: 6px;
    background-color: black;;
}

.comment-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
}

.comment-box div:nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;

}


.comment-box div:nth-child(2) > textarea {
    width: 98%;
    height: 12px;
    white-space: pre-wrap;
    word-wrap: break-word;
    outline: none;
    resize: none;
    font-size: 12px;
    padding: 0;
    margin-left: 23px;
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 0;
    padding-bottom: 3px;
}

.comment-box div:nth-child(2) > textarea:focus {
    border-bottom: 1px solid white;
}

.comment-box div:nth-child(2) > textarea::-webkit-scrollbar{
    width: 0px;
}

.comment-box div:nth-child(2) > span {
    align-self: flex-end;
    padding-top: 10px;
}

.comment-box div:nth-child(2) > span > button {
    font-size: 11px;
    cursor: pointer;
}

.comment-box div:nth-child(2) > span button:nth-child(1) {
    width: 55px;
    border: 1px solid transparent;
    padding: 6px;
    border-radius: 45px;
    text-align: center;
}

.comment-not-ready {
    width: 70px;
    border: 1px solid rgb(67, 67, 67);
    background-color: rgb(67, 67, 67);
    color: rgb(154, 154, 154);
    padding: 6px;
    border-radius: 45px;
    text-align: center;
    margin-left: 10px;
    cursor: not-allowed;
    pointer-events: none;
}

.comment-box div:nth-child(2) > span button:nth-child(1):hover {
    border: 1px solid rgb(67, 67, 67);
    background-color: rgb(67, 67, 67);
}

.comment-ready {
    width: 70px;
    border: 1px solid rgb(62,166,255);
    background-color: rgb(62,166,255);
    color: black;
    padding: 6px;
    border-radius: 45px;
    text-align: center;
    margin-left: 10px;
}

.comment-length-counter {
    display:block;
    margin-left: 23px;
    width:100%;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
    font-size: 10px;
}

#channel-info-left-left div:nth-child(2) > div {
    margin-left: 15px;
}


#channel-info-left-left div:nth-child(2) > div:nth-child(2) {
    margin-top: 2px;
    font-size: 12px;
    color: gray
}

#video-title {
    padding-bottom: 15px;
    font-size: 20px;
    padding-top: 5px;
}

#channel-info-right {
    display: flex;
    flex-direction: row;
    width: 120px;
}

#channel-info-right div > i {
    background-color: transparent;
    color: rgb(39,39,39);
    -webkit-text-stroke: 1px white;
}

.channel-info-right-upvote {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    justify-content: flex-end;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

    background-color: rgb(39,39,39)
}

.channel-info-right-upvote > span {
    font-size: 13px;
    width: 50%;
    height: 80%;
    display: inline-block;
    vertical-align: middle;
    line-height: 28px;
    text-align: center;
    border-right: 1px solid rgb(60, 60, 60);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.channel-info-right-upvote > i {
    width: 40%;
    text-align: center;
}

.channel-info-right-downvote {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-left: none;
    background-color: rgb(36, 36, 36);
    cursor: pointer;
}

.channel-info-right-upvote:hover {
    background-color: rgb(51, 51, 51);
    cursor: pointer;
}

.channel-info-right-downvote:hover {
    background-color: rgb(51, 51, 51);
    cursor: pointer;
}

.liked {
    background-color: rgb(69, 69, 69);
}

.disliked {
    background-color: rgb(69, 69, 69);
}
