.main-page {
    position: relative;
    left: 8%;
    top: 100px;
    width: 80%;
    height: 100vh;
    padding-left: 3%;
    padding-right: 3%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 15.5vw;
    grid-column-gap: 1%;
    grid-row-gap: 5%;
}

.main-page > a {
    width: 100%;
    height: 100%;
}

.video-card {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    flex-wrap: wrap;
    position: relative;
    border-radius: 20px;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

.video-card > video {
    object-fit: cover;
    height: 73%;
    width: 100%;
    z-index: 3;
    border-radius: 13px;
}

.video-card-info {
    height: 27%;
    width: 100%;
    display:flex;
    flex-direction: row;
}

#video-card-info-right p:nth-child(1) {
    padding-top: 5px;
    font-size: 1em;
    margin: 0;
    margin-top: 2%;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
    /* word-break: break-all; */
    display: -webkit-box;
    -webkit-line-clamp: 2;
            line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.video-card-info-right {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

#video-card-info-right p:nth-child(2) {
    font-size: 0.9em;
    margin: 0;
    margin-top: 2%;
    color: rgb(170,170,170)
}

#video-card-info-right > span {
    font-size: 0.9em;
    color: rgb(170,170,170)
}

.video-card-preview {
    display:flex;
    flex-direction: column;
    width: 120%;
    height: 120%;
    margin: auto;
    flex-wrap: wrap;
    position: relative;
    border-radius: 20px;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

a {
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

.video-card-preview > video {
    object-fit: cover;
    height: 70%;
    width: 100%;
    border-radius: 12px;
    z-index: 10;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

a > div{
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}
