
.main-page {
    display: grid;
    grid-gap: 1rem;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 40px;
    height: 100%;
    justify-items: center;
    align-items: center;
}

@media (min-width: 2400px) {
    .main-page {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  @media (max-width: 2400px) {
    .main-page {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  @media (max-width: 2000px) {
    .main-page {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (max-width: 1600px) {
    .main-page {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 1200px) {
    .main-page {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 600px) {
    .main-page {
      grid-template-columns: 1fr;
    }
  }


.video-card {
    display:flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    position: relative;
    z-index: 3;
    aspect-ratio: 10/9;
}

.video-card > video {
    object-fit: cover;
    height: 70%;
    width: 100%;
    border-radius: 5px;
    position: relative;
}

.video-card-info {
    height: 30%;
    width: 100%;
    display:flex;

}

#video-card-info-right p:nth-child(1) {
    padding-top: 5px;
    font-size: 1em;
    margin: 0;
    margin-top: 2%;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
    /* word-break: break-all; */
    display: -webkit-box;
    -webkit-line-clamp: 2;
            line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: transparent
}

#video-card-info-right {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

#video-card-info-right p:nth-child(1) {
    color: rgb(225, 225, 225);
    font-size: 0.9rem
}

#video-card-info-right p:nth-child(2) {
    font-size: 0.8rem;
    margin: 0;
    margin-top: 2%;
    color: rgb(170,170,170)
}

#video-card-info-right > span {
    font-size: 0.8em;
    color: rgb(170,170,170);
}


#preview-hover-text {
    position: absolute;
    background-color: black;
    color: white;
    font-size: 0.7rem;
    right: 1%;
    bottom: 32%;
    z-index: 99;
    padding: 1.5%
}
